.pagenotfoundcontainer{
    background-color: rgb(119, 178, 212);
}
.heading{
    position:absolute;
    top :15%;
    left :25%;
    scale: 5;
    font-family:cursive;
    color: rgb(163, 26, 26);
    z-index: 1;
}