.pagenotfoundcontainer{
    background-color: rgb(115 185 226);
}
.heading{
    position:absolute;
    top :15%;
    left :25%;
    scale: 5;
    font-family:cursive !important;
    color: rgb(197, 42, 42);
    z-index: 1;
}
.content{
    position: absolute;
    top:80%;
    left: 20%;
    scale: 2;
    font-family:cursive !important;
    z-index: 1;
    color: white;
}
.gotohomebtn{
    z-index: 1;
    color: gray;
    background-color: gray;
}