.maincard {
  padding: 30px;
  width: 120px;
  box-shadow: 2px 2px 20px rgb(39, 33, 33) !important;
  border-radius: 15px !important;
  background-color: aliceblue;
}
 .maincard:hover {
    cursor: pointer;
    transform: scale(1.25);
    box-shadow: 2px 2px 20px rgb(69, 189, 99) !important;
} 

