.container {
  align-content: center;
  background-color: rgb(0 0 0 / 9%);
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  background-image: url("../../assets/Images/wallpaperflare.com_wallpaper.jpg");
  
}
.loginbox {
  background-image: url("../../assets/Images/header-background.avif");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px !important;
  box-shadow: 5px 5px 40px rgb(109, 100, 100) !important;
  width: 200%;
  margin-left: 15%;
}
.Cardheader {
  border-radius: 20px;
  text-align: center;
  border-bottom: 1px solid black;
  /* font-family: Georgia, serif !important;
   */
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif!important;
   font-style: italic;
}
.Maincard {
  background-color: #000000;
}
.signin {
  background-color: #363a3e !important;
  font-family: Georgia, serif !important;
}
.forgotpassword {
  color: #000000 !important ;
  margin-left: 50% !important;
}
.boxfooter {
  display: flex;
  justify-content: space-between;
}
.error{
  color: #d85353;
}
.Username{
  font-weight: bold;
}
